In [1]:
import openai

In [2]:
import pandas as pd

In [274]:
holdings = pd.read_csv("ARK_INNOVATION_ETF_ARKK_HOLDINGS.csv")

In [275]:
holdings

,date,fund,company,ticker,cusip,shares,market value ($),weight (%)
0,06/16/2023,ARKK,TESLA INC,TSLA,88160R101,"3,781,127","$967,590,399.30",11.74%
1,06/16/2023,ARKK,ROKU INC,ROKU,77543R102,"9,129,495","$655,041,266.25",7.95%
2,06/16/2023,ARKK,ZOOM VIDEO COMMUNICATIONS-A,ZM,98980L101,"8,379,175","$586,039,499.50",7.11%
3,06/16/2023,ARKK,UIPATH INC - CLASS A,PATH,90364P105,"28,990,794","$543,577,387.50",6.59%
4,06/16/2023,ARKK,BLOCK INC,SQ,852234103,"7,280,069","$481,867,767.11",5.85%
5,06/16/2023,ARKK,COINBASE GLOBAL INC -CLASS A,COIN,19260Q107,"8,181,715","$443,858,038.75",5.38%
6,06/16/2023,ARKK,EXACT SCIENCES CORP,EXAS,30063P105,"4,274,226","$399,169,966.14",4.84%
7,06/16/2023,ARKK,SHOPIFY INC - CLASS A,SHOP,82509L107,"5,919,090","$391,251,849.00",4.75%
8,06/16/2023,ARKK,UNITY SOFTWARE INC,U,91332U101,"8,599,536","$358,342,665.12",4.35%
9,06/16/2023,ARKK,TWILIO INC - A,TWLO,90138F102,"4,629,414","$315,124,210.98",3.82%
10,06/16/2023,ARKK,DRAFTKINGS INC-CL A,DKNG UW,26142V105,"12,662,111","$314,400,216.13",3.81%
11,06/16/2023,ARKK,INTELLIA THERAPEUTICS INC,NTLA,45826J105,"6,782,723","$309,088,687.11",3.75%
12,06/16/2023,ARKK,CRISPR THERAPEUTICS AG,CRSP,H17182108,"5,083,591","$299,626,853.54",3.63%
13,06/16/2023,ARKK,TELADOC HEALTH INC,TDOC,87918A105,"11,882,311","$299,434,237.20",3.63%
14,06/16/2023,ARKK,ROBLOX CORP -CLASS A,RBLX,771049103,"6,878,972","$279,492,632.36",3.39%
15,06/16/2023,ARKK,GINKGO BIOWORKS HOLDINGS INC,DNA,37611X100,"112,491,844","$219,359,095.80",2.66%
16,06/16/2023,ARKK,BEAM THERAPEUTICS INC,BEAM,07373V105,"6,100,682","$207,423,188.00",2.52%
17,06/16/2023,ARKK,PACIFIC BIOSCIENCES OF CALIF,PACB,69404D108,"14,382,357","$191,429,171.67",2.32%
18,06/16/2023,ARKK,ROBINHOOD MARKETS INC - A,HOOD,770700102,"18,930,811","$188,929,493.78",2.29%
19,06/16/2023,ARKK,PAGERDUTY INC,PD,69553P100,"7,543,795","$172,828,343.45",2.10%
20,06/16/2023,ARKK,10X GENOMICS INC-CLASS A,TXG,88025U109,"2,164,662","$127,108,952.64",1.54%
21,06/16/2023,ARKK,VERACYTE INC,VCYT,92337F107,"4,560,060","$120,932,791.20",1.47%
22,06/16/2023,ARKK,PALANTIR TECHNOLOGIES INC-A,PLTR,69608A108,"5,018,248","$83,302,916.80",1.01%
23,06/16/2023,ARKK,TWIST BIOSCIENCE CORP,TWST,90184D100,"3,746,020","$69,713,432.20",0.85%
24,06/16/2023,ARKK,META PLATFORMS INC-CLASS A,META,30303M102,"150,377","$42,380,749.91",0.51%
25,06/16/2023,ARKK,TERADYNE INC,TER,880770102,"368,002","$40,513,340.18",0.49%
26,06/16/2023,ARKK,CERUS CORP,CERS,157085101,"13,443,857","$35,895,098.19",0.44%
27,06/16/2023,ARKK,VERVE THERAPEUTICS INC,VERV,92539P101,"1,722,632","$34,177,018.88",0.41%
28,06/16/2023,ARKK,2U INC,TWOU,90214J101,"6,037,289","$26,745,190.27",0.32%
29,06/16/2023,ARKK,INVITAE CORP,NVTA,46185L103,"19,091,305","$24,245,957.35",0.29%
30,06/16/2023,ARKK,GOLDMAN FS TRSY OBLIG INST 468,NaN,X9USDGSFT,"14,346,352","$14,346,351.99",0.17%
31,The principal risks of investing in ARK ETFs i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
holdings.drop(holdings.tail(2).index,inplace=True)

In [277]:
holdings['value'] = holdings['market value ($)'].str.replace(r'[\$,]', '', regex=True).astype(float)

In [278]:
holdings['shares'] =  holdings['shares'].str.replace(',', '').astype(float)

In [279]:
holdings['price_per_share'] = holdings['value']/holdings['shares']

In [280]:
holdings = holdings[['date','ticker','shares','price_per_share']]

In [281]:
holdings.columns

Index(['date', 'ticker', 'shares', 'price_per_share'], dtype='object')

In [282]:
holdings

          date   ticker       shares  price_per_share
0   06/16/2023     TSLA    3781127.0           255.90
1   06/16/2023     ROKU    9129495.0            71.75
2   06/16/2023       ZM    8379175.0            69.94
3   06/16/2023     PATH   28990794.0            18.75
4   06/16/2023       SQ    7280069.0            66.19
5   06/16/2023     COIN    8181715.0            54.25
6   06/16/2023     EXAS    4274226.0            93.39
7   06/16/2023     SHOP    5919090.0            66.10
8   06/16/2023        U    8599536.0            41.67
9   06/16/2023     TWLO    4629414.0            68.07
10  06/16/2023  DKNG UW   12662111.0            24.83
11  06/16/2023     NTLA    6782723.0            45.57
12  06/16/2023     CRSP    5083591.0            58.94
13  06/16/2023     TDOC   11882311.0            25.20
14  06/16/2023     RBLX    6878972.0            40.63
15  06/16/2023      DNA  112491844.0             1.95
16  06/16/2023     BEAM    6100682.0            34.00
17  06/16/2023     PACB   14382357.0            13.31
18  06/16/2023     HOOD   18930811.0             9.98
19  06/16/2023       PD    7543795.0            22.91
20  06/16/2023      TXG    2164662.0            58.72
21  06/16/2023     VCYT    4560060.0            26.52
22  06/16/2023     PLTR    5018248.0            16.60
23  06/16/2023     TWST    3746020.0            18.61
24  06/16/2023     META     150377.0           281.83
25  06/16/2023      TER     368002.0           110.09
26  06/16/2023     CERS   13443857.0             2.67
27  06/16/2023     VERV    1722632.0            19.84
28  06/16/2023     TWOU    6037289.0             4.43
29  06/16/2023     NVTA   19091305.0             1.27

In [283]:

# Make a copy of the DataFrame to hold the simulation.
df = holdings.copy()

In [284]:
df

          date   ticker       shares  price_per_share
0   06/16/2023     TSLA    3781127.0           255.90
1   06/16/2023     ROKU    9129495.0            71.75
2   06/16/2023       ZM    8379175.0            69.94
3   06/16/2023     PATH   28990794.0            18.75
4   06/16/2023       SQ    7280069.0            66.19
5   06/16/2023     COIN    8181715.0            54.25
6   06/16/2023     EXAS    4274226.0            93.39
7   06/16/2023     SHOP    5919090.0            66.10
8   06/16/2023        U    8599536.0            41.67
9   06/16/2023     TWLO    4629414.0            68.07
10  06/16/2023  DKNG UW   12662111.0            24.83
11  06/16/2023     NTLA    6782723.0            45.57
12  06/16/2023     CRSP    5083591.0            58.94
13  06/16/2023     TDOC   11882311.0            25.20
14  06/16/2023     RBLX    6878972.0            40.63
15  06/16/2023      DNA  112491844.0             1.95
16  06/16/2023     BEAM    6100682.0            34.00
17  06/16/2023     PACB   14382357.0            13.31
18  06/16/2023     HOOD   18930811.0             9.98
19  06/16/2023       PD    7543795.0            22.91
20  06/16/2023      TXG    2164662.0            58.72
21  06/16/2023     VCYT    4560060.0            26.52
22  06/16/2023     PLTR    5018248.0            16.60
23  06/16/2023     TWST    3746020.0            18.61
24  06/16/2023     META     150377.0           281.83
25  06/16/2023      TER     368002.0           110.09
26  06/16/2023     CERS   13443857.0             2.67
27  06/16/2023     VERV    1722632.0            19.84
28  06/16/2023     TWOU    6037289.0             4.43
29  06/16/2023     NVTA   19091305.0             1.27

In [285]:
date_range = pd.date_range(end='2023-06-16', periods=180, freq='D')

In [286]:
results = df.copy()

In [287]:
# Loop over each day
for i in range(1, len(date_range)):
    date = date_range[-i]
    previous_date = date_range[-i-1]

    # Copy the previous day's data
    new_df = results[results['date'] ==date.strftime('%m/%d/%Y')].copy()
    
    # Apply a random fluctuation to 'price_per_share' and 'shares'
    new_df['price_per_share'] = new_df['price_per_share'] * (1 + np.random.uniform(-0.04, 0.05))  # adjust the range as needed
    new_df['shares'] = new_df['shares'] * (1 + np.random.uniform(-0.01, 0.01))  # adjust the range as needed

    # Set the date
    new_df['date'] = previous_date.strftime('%m/%d/%Y')
    
    # Append to the results DataFrame
    results = pd.concat([results, new_df])
    print(date)

2023-06-16 00:00:00
2023-06-15 00:00:00
2023-06-14 00:00:00
2023-06-13 00:00:00
2023-06-12 00:00:00
2023-06-11 00:00:00
2023-06-10 00:00:00
2023-06-09 00:00:00
2023-06-08 00:00:00
2023-06-07 00:00:00
2023-06-06 00:00:00
2023-06-05 00:00:00
2023-06-04 00:00:00
2023-06-03 00:00:00
2023-06-02 00:00:00
2023-06-01 00:00:00
2023-05-31 00:00:00
2023-05-30 00:00:00
2023-05-29 00:00:00
2023-05-28 00:00:00
2023-05-27 00:00:00
2023-05-26 00:00:00
2023-05-25 00:00:00
2023-05-24 00:00:00
2023-05-23 00:00:00
2023-05-22 00:00:00
2023-05-21 00:00:00
2023-05-20 00:00:00
2023-05-19 00:00:00
2023-05-18 00:00:00
2023-05-17 00:00:00
2023-05-16 00:00:00
2023-05-15 00:00:00
2023-05-14 00:00:00
2023-05-13 00:00:00
2023-05-12 00:00:00
2023-05-11 00:00:00
2023-05-10 00:00:00
2023-05-09 00:00:00
2023-05-08 00:00:00
2023-05-07 00:00:00
2023-05-06 00:00:00
2023-05-05 00:00:00
2023-05-04 00:00:00
2023-05-03 00:00:00
2023-05-02 00:00:00
2023-05-01 00:00:00
2023-04-30 00:00:00
2023-04-29 00:00:00
2023-04-28 00:00:00
2023-04-27 00:00:00
2023-04-26 00:00:00
2023-04-25 00:00:00
2023-04-24 00:00:00
2023-04-23 00:00:00
2023-04-22 00:00:00
2023-04-21 00:00:00
2023-04-20 00:00:00
2023-04-19 00:00:00
2023-04-18 00:00:00
2023-04-17 00:00:00
2023-04-16 00:00:00
2023-04-15 00:00:00
2023-04-14 00:00:00
2023-04-13 00:00:00
2023-04-12 00:00:00
2023-04-11 00:00:00
2023-04-10 00:00:00
2023-04-09 00:00:00
2023-04-08 00:00:00
2023-04-07 00:00:00
2023-04-06 00:00:00
2023-04-05 00:00:00
2023-04-04 00:00:00
2023-04-03 00:00:00
2023-04-02 00:00:00
2023-04-01 00:00:00
2023-03-31 00:00:00
2023-03-30 00:00:00
2023-03-29 00:00:00
2023-03-28 00:00:00
2023-03-27 00:00:00
2023-03-26 00:00:00
2023-03-25 00:00:00
2023-03-24 00:00:00
2023-03-23 00:00:00
2023-03-22 00:00:00
2023-03-21 00:00:00
2023-03-20 00:00:00
2023-03-19 00:00:00
2023-03-18 00:00:00
2023-03-17 00:00:00
2023-03-16 00:00:00
2023-03-15 00:00:00
2023-03-14 00:00:00
2023-03-13 00:00:00
2023-03-12 00:00:00
2023-03-11 00:00:00
2023-03-10 00:00:00
2023-03-09 00:00:00
2023-03-08 00:00:00
2023-03-07 00:00:00
2023-03-06 00:00:00
2023-03-05 00:00:00
2023-03-04 00:00:00
2023-03-03 00:00:00
2023-03-02 00:00:00
2023-03-01 00:00:00
2023-02-28 00:00:00
2023-02-27 00:00:00
2023-02-26 00:00:00
2023-02-25 00:00:00
2023-02-24 00:00:00
2023-02-23 00:00:00
2023-02-22 00:00:00
2023-02-21 00:00:00
2023-02-20 00:00:00
2023-02-19 00:00:00
2023-02-18 00:00:00
2023-02-17 00:00:00
2023-02-16 00:00:00
2023-02-15 00:00:00
2023-02-14 00:00:00
2023-02-13 00:00:00
2023-02-12 00:00:00
2023-02-11 00:00:00
2023-02-10 00:00:00
2023-02-09 00:00:00
2023-02-08 00:00:00
2023-02-07 00:00:00
2023-02-06 00:00:00
2023-02-05 00:00:00
2023-02-04 00:00:00
2023-02-03 00:00:00
2023-02-02 00:00:00
2023-02-01 00:00:00
2023-01-31 00:00:00
2023-01-30 00:00:00
2023-01-29 00:00:00
2023-01-28 00:00:00
2023-01-27 00:00:00
2023-01-26 00:00:00
2023-01-25 00:00:00
2023-01-24 00:00:00
2023-01-23 00:00:00
2023-01-22 00:00:00
2023-01-21 00:00:00
2023-01-20 00:00:00
2023-01-19 00:00:00
2023-01-18 00:00:00
2023-01-17 00:00:00
2023-01-16 00:00:00
2023-01-15 00:00:00
2023-01-14 00:00:00
2023-01-13 00:00:00
2023-01-12 00:00:00
2023-01-11 00:00:00
2023-01-10 00:00:00
2023-01-09 00:00:00
2023-01-08 00:00:00
2023-01-07 00:00:00
2023-01-06 00:00:00
2023-01-05 00:00:00
2023-01-04 00:00:00
2023-01-03 00:00:00
2023-01-02 00:00:00
2023-01-01 00:00:00
2022-12-31 00:00:00
2022-12-30 00:00:00
2022-12-29 00:00:00
2022-12-28 00:00:00
2022-12-27 00:00:00
2022-12-26 00:00:00
2022-12-25 00:00:00
2022-12-24 00:00:00
2022-12-23 00:00:00
2022-12-22 00:00:00
2022-12-21 00:00:00
2022-12-20 00:00:00

In [288]:
results

          date ticker        shares  price_per_share
0   06/16/2023   TSLA  3.781127e+06       255.900000
1   06/16/2023   ROKU  9.129495e+06        71.750000
2   06/16/2023     ZM  8.379175e+06        69.940000
3   06/16/2023   PATH  2.899079e+07        18.750000
4   06/16/2023     SQ  7.280069e+06        66.190000
..         ...    ...           ...              ...
25  12/19/2022    TER  3.510924e+05       195.724785
26  12/19/2022   CERS  1.282612e+07         4.746891
27  12/19/2022   VERV  1.643478e+06        35.272774
28  12/19/2022   TWOU  5.759877e+06         7.875927
29  12/19/2022   NVTA  1.821407e+07         2.257884

[5400 rows x 4 columns]

In [289]:
results['ticker'].value_counts()

TSLA       180
ROKU       180
TWOU       180
VERV       180
CERS       180
TER        180
META       180
TWST       180
PLTR       180
VCYT       180
TXG        180
PD         180
HOOD       180
PACB       180
BEAM       180
DNA        180
RBLX       180
TDOC       180
CRSP       180
NTLA       180
DKNG UW    180
TWLO       180
U          180
SHOP       180
EXAS       180
COIN       180
SQ         180
PATH       180
ZM         180
NVTA       180
Name: ticker, dtype: int64

In [291]:
results.to_csv("sim_data.csv")

In [244]:
# Combine the original data with the simulated data
df = pd.concat([df, results])

# Sort by date and ticker for a cleaner look
df.sort_values(['date', 'ticker'], inplace=True)

# Reset the index
df.reset_index(drop=True, inplace=True)

In [245]:
df

          date   ticker        shares  price_per_share
0   06/15/2023     BEAM  6.114304e+06        33.985941
1   06/15/2023     CERS  1.347388e+07         2.668896
2   06/15/2023     COIN  8.199984e+06        54.227568
3   06/15/2023     CRSP  5.094942e+06        58.915629
4   06/15/2023  DKNG UW  1.269038e+07        24.819733
..         ...      ...           ...              ...
57  06/16/2023        U  8.599536e+06        41.670000
58  06/16/2023     VCYT  4.560060e+06        26.520000
59  06/16/2023     VERV  1.722632e+06        19.840000
60  06/16/2023       ZM  8.379175e+06        69.940000
61  06/16/2023      NaN  1.434635e+07         1.000000

[62 rows x 4 columns]

In [182]:
date = date_range[-i]
date

Timestamp('2023-06-15 00:00:00', freq='D')

In [183]:
 date_range[-i-1]

Timestamp('2023-06-14 00:00:00', freq='D')

In [167]:
previous_date = date_range[-i-1]
previous_date

Timestamp('2023-06-15 00:00:00', freq='D')

In [158]:
new_df = df[df['date'] ==previous_date.strftime('%m/%d/%Y')].copy()

In [157]:
df[df['date'] ==date.strftime('%m/%d/%Y')]

          date ticker weight (%)        shares  price_per_share
0   06/16/2023   BEAM      2.52%  6.100682e+06        34.000000
1   06/16/2023   BEAM      2.52%  6.127367e+06        34.322561
2   06/16/2023   CERS      0.44%  1.344386e+07         2.670000
3   06/16/2023   CERS      0.44%  1.350266e+07         2.695331
4   06/16/2023   COIN      5.38%  8.181715e+06        54.250000
..         ...    ...        ...           ...              ...
57  06/16/2023   VERV      0.41%  1.730167e+06        20.028224
58  06/16/2023     ZM      7.11%  8.379175e+06        69.940000
59  06/16/2023     ZM      7.11%  8.415826e+06        70.603528
60  06/16/2023    NaN      0.17%  1.434635e+07         1.000000
61  06/16/2023    NaN      0.17%  1.440910e+07         1.009487

[62 rows x 5 columns]

In [140]:
previous_date.strftime('%m/%d/%Y')

'06/15/2023'

In [165]:
new_df['price_per_share'] = new_df['price_per_share'] * (1 + np.random.uniform(-0.04, 0.05))  # adjust the range as needed
new_df['shares'] = new_df['shares'] * (1 + np.random.uniform(-0.01, 0.01))  # adjust the range as needed

In [292]:
new_df.sample(15)

          date ticker        shares  price_per_share
28  12/19/2022   TWOU  5.759877e+06         7.875927
26  12/19/2022   CERS  1.282612e+07         4.746891
22  12/19/2022   PLTR  4.787661e+06        29.512503
5   12/19/2022   COIN  7.805768e+06        96.448993
19  12/19/2022     PD  7.197160e+06        40.730810
11  12/19/2022   NTLA  6.471059e+06        81.017154
17  12/19/2022   PACB  1.372149e+07        23.663338
15  12/19/2022    DNA  1.073229e+08         3.466830
23  12/19/2022   TWST  3.573892e+06        33.086005
4   12/19/2022     SQ  6.945552e+06       117.676660
21  12/19/2022   VCYT  4.350527e+06        47.148890
9   12/19/2022   TWLO  4.416694e+06       121.019040
12  12/19/2022   CRSP  4.850002e+06       104.787164
25  12/19/2022    TER  3.510924e+05       195.724785
18  12/19/2022   HOOD  1.806095e+07        17.743059

In [296]:
new_df.ticker.nunique()

30

In [163]:
new_df = df[df['date'] ==date.strftime('%m/%d/%Y')].copy()